.kos-sm .swiper {
    width: 100%;
    height: 100%;
  }
  
  .kos-sm .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff; 

     /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .kos-sm .swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .koc-sm{
    margin-top: 50px;
  }
 
  .koc-sm img{
    padding: 10px;
    width: 100px;
  }
  .koc-sm .kbn-sm{
    font-size: 20px;
    padding: 10px;
    font-family: sans-serif;
    margin-bottom: 50px;
  }

/* ----------------------------------------------------------------------------------------------------------- */

.koi .swiper {
    width: 100%;
    height: 100%;
  }
  
  .koi .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .koi .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .koi .luheart{
    display: flex;
  }
  
  .koi .kj3{
    font-size: medium;
    font-weight: 600;
    color: #000;
    text-align: left;
    padding: 20px;
  } 
  
  .card-body .kj2{
    font-size: small;
    margin: 0;
    text-align: left;
    font-weight: 500;
  }
  .card-body .kj1{
    font-size: small;
    margin: 0;
    text-align: left;
    font-weight: 700;
    color: #6c22b2;
  }
  
  .koi .card{
    border: none;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .card-body{
    border: none;
  }
/* ---------------------------------------------------------------------------------------------------------- */

.kirr1-sm{
    display: flex;
}  

.kir1-sm img{
    width: 250px;
    justify-content: space-evenly;
   border-radius: 50%;
}

.kir1-sm{
    border: 1px solid gold;
    border-radius: 221px;
    height: 260px;
    width: 23%;
    background-color: gold;
    margin: 20px;
    margin-bottom: 100px;
}
.kir1-sm .kirtxt-sm{
    font-size: x-large;
    padding: 20px 0 20px 0;
    margin-bottom: 70px;
    font-family: sans-serif;
    text-align: center;
}
  
/* ------------------------------------------------------------------------------------------------------------- */

.kow .col-sm-4{
  position: relative;
}
.ktxt {
  border-radius: 20px 0 0 0;
  font-size: 30px;
  width: 210px;
  padding: 20px 0 20px 0;
  background-color: #f5f5f5;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 11px;
  margin: 0;
}   

.kow .kac{
  padding: 10px 5px 10px 5px;
  width: 14%;
  height: 10%;
  position: absolute;
  bottom: 20px;
  left: 40px;
  font-size: 25px;
  color: #0bcfcf;
  background-color: #f5f5f5;
  border-radius: 100px;
}

.kow{
  margin-top: 50px;
}

.k-while img {
  width: 100%;
  border-radius: 20px;
}
.k-while{
  margin: 30px;
}

.done-sm{
  margin-top: 100px;
}

.kids-image-silde{
  margin-top: 85px;
}
.koi .btn{
  width: 300px;
  bottom: 0;
  border-radius: 0 0 5px 5px;
}

