.Admin_menu {
    padding: 100px;
    background-color: black;
    height: 100%;
    width: 30%; 
}   
.Admin_menu ul li{
    list-style: none;
    line-height: 60px;
    color: #f5f5f5;
    width: 142px;   
}
.Admin_menu ul li:hover a{
    color: #dbdbdbbb;
    text-decoration: underline;
}
.admin{
    padding-top: 100px;
    width: 100%;
    height: 100%;
}
.Admin_menu .lin{
    text-decoration: none;
    color: #f5f5f5;
} 
.admin_display{
    display: flex;
}
.admin_display .Admin_menu{
    width: 100%;
}
.man_addon{
    padding: 10%;
    width: 100%;
}
/* .man_addon .btn{
    margin: 10px;
} */

.admin_men_edit{
    display: flex;
}
.admin_men_edit .Admin_menu{
    width: 100%;
}
.Men-edit{
    padding: 10%;
}
.price-display{
    display: flex;
}   
.price-display .Admin_menu{
    width: 100%;
}

.text-input{
    width: 500px;
}

.text-title .btn{
    margin: 10px;
}
.text-input-textarea{
    height: 100px;
    width: 500px;
}
.man_addon .additem-btn{
    text-decoration: none;
    color: #f5f5f5;
}
.Admin_menu .min{
    text-decoration: none;
    color: #f5f5f5;
}
.women_addon{
    padding: 10%;
    width: 100%;
}
.women_addon .additem{
    text-decoration: none;
    color: #f5f5f5;
}
/* .women_addon .btn{
    margin: 10px;
} */
.women-edit{
    padding: 10%;
}

.Admin_menu .kid{
    text-decoration: none;
    color: #f5f5f5;
}

.kids_addon{
    padding: 10%;
    width: 100%;
}
 .additem-btn{
    text-decoration: none;
    color: #f5f5f5;

}
/* .kid_addon .btn{
    margin: 10px;
} */
.kid-edit{
    padding: 10%;
}
.kids_addon .editbutton-kid{
    text-decoration: none;
    color: #f5f5f5;
}
/* a {
    color: #f5f5f5;
    text-decoration: none;
} */

.Admin_menu .dash{
    text-decoration: none;
    color: #f5f5f5;
    display: flex;
    align-items: center;
}
.menedit{
    text-decoration: none;
    color: #f5f5f5;
}
.womenbtnedit{
    text-decoration: none;
    color: #f5f5f5;
}
.kids_btn{
    margin: 10px;
}
.womens_btn{
    margin: 10px;
}
.mens_btn{
    margin: 10px;
}

.moving-admin{
    text-decoration: none;
    color: #f5f5f5;
}

.postimage{
    width: 30%;
    height: 20%;
}
.data-from-post{
    width: 200px;
    height: auto;
}